MONGODB_URI=mongodb://127.0.0.1:27017/portfolio
JWT_SECRET=replace-with-a-long-random-secret
JWT_EXPIRES_IN=7d
PORT=4000
CORS_ORIGIN=http://localhost:4200
ADMIN_SEED_EMAIL=sataniniraj0000@gmail.com
ADMIN_SEED_PASSWORD=Niraj.portfolio@0503
CLOUDINARY_CLOUD_NAME=dl6c4ij1u
CLOUDINARY_API_KEY=936264998538668
CLOUDINARY_API_SECRET=8zJ9Xx6recX2GP-knVcwlN1YiO8
